.info {
  font: var(--medium) var(--font_family);
  color: var(--text);
}

.image {
  height: 220px;
  border-radius: 8px;
  object-fit: cover;
}

.image_produto {
  height: 220px;
  border-radius: 8px;
  object-fit: cover;
}

.image_painel {
  height: 180px;
  border-radius: 8px;
  object-fit: cover;
}

.container_button {
  display: flex;
  flex-direction: column;
}

.no_image {
  color: var(--text);
  position: absolute;
  top: 20px;
  left: 12px;
}
