.section {
  min-height: 244px;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container_items {
  display: flex;
  justify-content: space-between;
}
